*{
    box-sizing: border-box;
}
.iconX{
    cursor: pointer;
    color: red ;
    
    /*width: 12px !important;
    height: 12px;
    background-color: red;
    */
    width: 5% !important;

    
}
.cardSize{
    width: 23% !important;
    height: 250px !important;
    cursor: pointer;
}
.layerUp{
    width: 92%;
    left: 4%;
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s;
    
}

.layer:hover > .layerUp {
   opacity: 0.5 !important;
}