.filter-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.filter-content.active {
    max-height: 30%;
}
.widthForCard{
    width: 24%;
}
/* hospital dashboard */
.widthforfirstSection{
    width: 90% !important;
}
.StyleDivToPutDayAndTime{
    width: 90%;
    left: 5%;
    top: 14%;
}
.styleOfButtonOfTime{
    width: 30% !important;
}
.heightOfTimeDiv{
    height: 250px;
}
.ButtonStyleForHospital{
    width: 6% !important;
}
.closeOfHospitalPutTime{
    cursor: pointer;
}