.filter-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.filter-content.active {
    max-height: 30%;
}
.widthForCard{
    width: 24%;
}
/* hospital dashboard */
.widthforfirstSection{
    width: 90% !important;
}
.StyleDivToPutDayAndTime{
    width: 90%;
    left: 5%;
    top: 9%;
}
.styleOfButtonOfTime{
    width: 30% !important;
}
.heightOfTimeDiv{
    height: 250px;
}
.ButtonStyleForHospital{
    width: 15% !important;
}
.closeOfHospitalPutTime{
    cursor: pointer;
}

/* pagination style  */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .pagination button {
    margin: 0 3px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  