.bgForPatient{
    background-color: rgb(2, 44, 34 ,0.8);
    width: 100%;
    height: 88px;
}
.forPatient{
    width: 95%;
}
.StyleOfCardPatient{
    /* background-color: rgba(0, 116, 0, 0.733); */
    width: 30%;
}
.Rsmabt3tIcon{
    width: 25%;
    background-color: black;
    height: 55px;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}
.StyleForSecondPartOfUSerInfo{
    width: 72%;
}
.styleForScroll{
    overflow-y:scroll ;
    height: 580px;
}
.classForHeight{
    height: 400px;
}
.cursor-pointer {
    transition: background-color 0.3s, padding 0.3s, border-radius 0.3s, color 0.3s;
  }
  .StyleForDisplay{
    left: 150%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
  .active{
    left: 50%;
  }
  .togetTableInMiddle{
    left: 4%;
    top: 22%;
    width: 90%;
  }

  .styleForPatienDiagnoses{
   position: absolute;
   top: -100%;
   left: 25%;
   width: 50%;
   height: 500px;
   background: white;
   z-index: 12;
   border-radius: 2%;
   transition:all 0.5s ;
   -webkit-transition:all 0.5s ;
   -moz-transition:all 0.5s ;
   -ms-transition:all 0.5s ;
   -o-transition:all 0.5s ;
}
.activeCLass{
   top: 20%;
}