.textStyleForH2{
    font-size: 50px ;
}
.textStyleForP{
    font-size: 40px ;
}
@media (min-width:414px) and (max-width: 750px) {
    .textStyleForH2{
     font-size: 30px;
    }
     .textStyleForP{
     font-size: 20px;
    }
 }
@media (min-width:360px) and (max-width: 414px) {
    .textStyleForH2{
     font-size: 30px;
    }
     .textStyleForP{
     font-size: 18px;
    }
 }
 .secBook{
    top: 16%;
    left: 28%;
 }
 .secBook2{
    height: 50%;
    z-index: 156164 !important;
    top: 25%;
    left: 28%;
    justify-content: center;
    align-items: center;
 }
 .sureBook{
    top: 25%;
    left: 28%;
    height: 400px;
    z-index: 155;
 }
 .wordSureBook::after{
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        bottom: -2px;
        border-bottom: 4px solid rgb(32, 134, 32);
        width: 50%;
        border-radius: 15%;
}