.textStyleForH2{
    font-size: 50px ;
}
.textStyleForP{
    font-size: 40px ;
}
@media (min-width:414px) and (max-width: 750px) {
    .textStyleForH2{
     font-size: 30px;
    }
     .textStyleForP{
     font-size: 20px;
    }
 }
@media (min-width:360px) and (max-width: 414px) {
    .textStyleForH2{
     font-size: 30px;
    }
     .textStyleForP{
     font-size: 18px;
    }
 }