.custom-select .react-select__control {
  width: 200px;
  min-height: 36px;
  border-color: #d1d5db;
}

.custom-select .react-select__control:hover {
  border-color: #bfdbfe;
}
.react-select__menu {
  z-index: 9999 !important;
}
